* {
    font-family: 'Cantarell', sans-serif;
    color: #a6e3a1;
    text-align: center;
}

body {
    background-color: #1e1e2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, a {
    color: #89b4fa;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
}

.horizontal {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 30px 0;
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    border: 2px solid #89b4fa;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

a:hover {
    background-color: #313244;
}
